.meme-manage-container {
  max-width: 1000px;
  margin: 80px auto 0; /* Add top margin to account for the fixed navbar */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color:black;
  border-radius: 8px;
}

.meme-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.meme-table th,
.meme-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.meme-table th {
  background-color: #f0f0f0;
}

.meme-table-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.edit-button,
.delete-button {
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.edit-button {
  background-color: #007bff;
  color: #fff;
}

.edit-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #dc3545;
  color: #fff;
}

.delete-button:hover {
  background-color: #c82333;
}
